body{

background:#f8f8f8;

}

.menu{

transition:.3s;

cursor:pointer;

border-radius:15px;

}

.menu:hover{

transform:translateY(-8px);

box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.card{

border:none;

border-radius:15px;

}

.navbar{

background:#6F4E37 !important;

}

.btn-primary{

background:#6F4E37;

border:none;

}
